.pop-up {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 55555;
}
.pop-up.active {
    display: block;
}
.pop-up-wrapper {
    display: flex;
    height: 100dvh;
    width: 100%;
    justify-content: center;
    align-items: start;
}
.pop-up-content {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}

div#floating-button {
    max-width: fit-content;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-49%) !important;
}

div#floating-button a.float-button {
    -webkit-animation: x1550scrollleftelevate 1.55s infinite ease normal, disable-pointer-events;
    animation: x1550scrollleftelevate 1.55s infinite ease normal, disable-pointer-events;
    animation-delay: 100ms;
    animation-fill-mode: both;
}

@media (max-width: 768px) {
    .pop-up {
        padding: 0 10px;
    }
    .visi_scrollmap {
        display: none!important;
    }
    #lastchancemodal .modal-dialog {
        max-width: 100%;
    }
    #lastchancemodal .congrats-section img{
        max-width: 80%;
    }
    #lastchancemodal .modal-img img{
        max-width: 80%;
        height: auto;
    }

    #lastchancemodal h2.plus {
        padding-top: 0;
    }

    #lastchancemodal .modal-img {
        padding: 20px 0 0;
    }

    #lastchancemodal h5.modal-disclaimer {
        font-size: 14px;
    }
    #free-shipping {
        padding: 40px 15px;
    }
}

@media(min-width: 767px) and (max-width: 1366px){
    #lastchancemodal .modal-img img{
        max-width: 40%;
        height: auto;
    }
    #lastchancemodal > div > div > div.modal-buttons > a.btn.btn-primary,
    #lastchancemodal > div > div > div.modal-buttons > a.btn.btn-secondary,
    .congrats-section{
        padding: 10px !important;
    }
    .modal-img{
        padding: 10px 0!important;
    }
}
#dtimer1{
    border: 6px solid #fff;
    width: 660px;
    max-width: 90%;
    margin: 0px auto;
    font-weight: 900 !IMPORTANT;
    color: #fff !important;
    padding: 26px 30px 40px;
    font-size: 35px !important;
    line-height:45px !important;
    position: relative;
    margin-bottom: 20px;
}
#countdown1,
#countdown2,
#countdown3,
#countdown4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #204058;
    padding: 5px 25px;
    bottom: -18px;
    color: #95cff6 !important;
    font-size: 45px !important;
}
@media(max-width:667px){
    #dtimer1 {
        font-size: 25px !important;
    }
}